* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: lighter;
  color: hsl(240, 38%, 20%);
  background-image: url(/images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: right 15% top 15%;
}

.right-container {
  
 
  
  
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tanya-img {
  border-radius: 2%;
}

.left-container {
  background-image: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position-x: 3em;
  padding-top: 110px;

  
  
}

.curve-image {
  /* display: flex; */
  
}

.styling {
  display: flex;
  padding-bottom: 200px;
}

.name-style {
  font-size: smaller;
  font-weight: bold;
  color: ;
}

.title-style {
  font-size: smaller;
  margin-left: 20px;
  opacity: 50%;
}
